.filters {
    background-color: white;
    height: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: right;
}

button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    right: 30px;
    margin: 15px;
}

button:hover {
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    float: left;
    text-align: left;
    line-height: 12px;
    margin-left: 45px;
}

.amenities {
    height: 100%;
    width: 25%;
    float: left;
    text-align: left;
    line-height: 12px;
    margin-left: 45px;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    width: auto;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-left: -45px;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover,
.popover ul {
    list-style: none;
}

.popover h2 {
    font-size: 16px;
    margin-top: 25px;
}

.amenities li {
    margin: 25px;
}